<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="list-group">


<%= link_to "#{visitor.name}が", user_path(visitor), class: "nonelink text-dark"  %>

<% case notification.action %>
<% when 'follow' then %>
  <%= "あなたをフォローしました" %>
<% end %>

<%= time_ago_in_words(notification.created_at).upcase %>

</div>
