<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

<% if notifications.present? %>
  <%= render notifications %>
<% else %>
  <div class="alert alert-primary">
    通知はありません
    <%= image_tag 'undraw/undraw_New_notifications_re_xpcv.svg', width: '200px', class: "p-3" %>
  </div>
<% end %>
