<% if user_signed_in? && @user == current_user %>
  <% if @bookmark_events.present? %>
    <%= render 'partial/events_index', events: @bookmark_events, user_events: @user_events %>
  <% else %>
    <div class="alert alert-primary">
      <%= image_tag 'undraw/undraw_Bookmarks_re_mq1u.svg', width: '200px', class: "p-3" %>
      ブックマークしていません
    </div>
  <% end %>
<% end %>
