<h1>ブックマーク</h1>

<% if user_signed_in? && @user == current_user %>
  <% if @bookmark_events.present? %>
    <%= render 'partial/events_index', events: @bookmark_events, user_events: @user_events %>
  <% else %>
    <span>ブックマークしていません</span>
  <% end %>
<% end %>
