<%= @user.name %>のフォロー一覧
<% @users.each do |user| %>
  <% if user.email.present? %>
    <table>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to '詳細', user_path(user) %></td>
      </tr>
    </table>
  <% else %>
    <p>フォローしていません</p>
  <% end %>
<% end %>
