<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<h3>メールアドレス</h3>
<%= @user.email %>
<%= image_tag @user.image.url %>

<% @events.each do |event| %>
  <%= event.title %>
  <%= event.content %>
<% end %>
