<div class="float-end">

  <% if user_signed_in? && current_user.id != event.user_id %>
    <% if event.already_bookmarked?(current_user) %>
      <%= link_to "bookmark", event_bookmarks_path(event, anchor: event.id), method: :delete, class: "material-icons text-dark nonelink material-icons md-24" %>
    <% else %>
      <%= link_to 'bookmark_add',event_bookmarks_path(event, anchor: event.id), method: :post, class: "material-icons-outlined text-dark nonelink material-icons md-24" %>
    <% end %>
  <% end %>
</div>
