<% flash.each do |msg_type, msg| %>
  <div class="alert alert-<%= msg_type %> alert-info" role="alert" id="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= msg %>
  </div>
<% end %>
