<% if @messages.present? %>
  <div class="talk">
      <% @messages.each do |m| %>
        <div class="talk_left">
          <p>
            <%= m.content %>
            by
            <%= link_to "#{ m.user.name }さん", "/users/#{ m.user_id }", class: "nonelink text-dark" %>
          </p>
        </div>
      <% end %>
  </div>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

