
<!-- Page Content -->
  <div class="pt-5 bg-white">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 col-md-12 col-12 mb-6">
          <!-- caption-->
          <h1 class="display-2 font-weight-bold mb-3">手話べるなら<p class="text-primary">しゅわかい</p></h1>
          <!-- para -->
          <p class="h2 mb-3 ">しゅわかいとは</p>
          <p class="mb-0 h4 text-body lh-lg">手話を主にした交流会の開催や1対1のトークを気楽に楽しみたい人、学びたい人を募るサービスを提供しています。</p>
        </div>
      </div>
    </div>
  </div>
  <!-- features -->
  <div class="py-lg-16 py-10">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-right-md-6 col-12 mb-6">
          <!-- caption -->
          <h2 class="display-4 mb-3 font-weight-bold">かんたん3ステップ</h2>
          <p class="lead">しゅわかいの使い方</p>
          <%= image_tag 'undraw_Social_user_re_8cky.svg', width: '200px' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12">
          <!-- card -->
          <div class="card mb-4 mb-lg-0">
            <!-- card body -->
            <div class="card-body p-5">
              <!-- icon -->
              <div class="mb-3"><i class="mdi mdi-school-outline mdi-48px text-primary lh-1 "></i></div>
              <h3 class="mb-2">イベントを探す</h3>
              <p class="mb-0">参加してみたいイベントを検索。気になるイベントを見つけたら、クリックして詳細を把握しましょう</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
           <!-- card -->
          <div class="card mb-4 mb-lg-0">
             <!-- card body -->
            <div class="card-body p-5">
               <!-- icon -->
              <div class="mb-3"><i class="mdi mdi-account-group mdi-48px text-primary lh-1 "></i></div>
              <h3 class="mb-2">参加したいイベントを予約する</h3>
              <p class="mb-0">参加すると決心したなら、イベントの詳細画面の下にある参加予約を送信。開催者から連絡を待ちましょう</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
           <!-- card -->
          <div class="card mb-4 mb-lg-0">
             <!-- card body -->
            <div class="card-body p-5">
               <!-- icon -->
              <div class="mb-3"><i class="mdi mdi-finance mdi-48px text-primary lh-1 "></i></div>
              <h3 class="mb-2">イベントへ</h3>
              <p class="mb-0">当日になったらイベントへGO!思いっきり楽しんで！わからないことは開催者にDMでお問い合わせを。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- Team -->
  <div class="py-lg-12 py-6 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-right-md-6 col-12 mb-6">
           <!-- heading -->
          <h2 class="display-4 mb-3 font-weight-bold">よくある質問</h2>
           <!-- lead -->
          <p class="lead mb-5">使い方がわかりません</p>
        </div>
      </div>
    </div>
  </div>
  <!-- cta -->
  <div class="bg-primary">
    <div class="container">
      <!-- row -->
      <div class="row align-items-center no-gutters">
        <div class="col-xl-6 col-lg-6 col-md-12">
          <!-- heading -->
          <div class="pt-6 p-3 pt-lg-0">
            <h1 class="text-white display-6 pr-lg-8">あなたが参加したくなる</br> <span class="font-weight-bold display-4">しゅわかい</span> を見つけてみよう
            </h1>
            <!-- text -->
            <p class="text-white-50 mb-4 lead">
              全国各地からテレビ電話まで手話で話してみるチャンスがたーくさんあるよ！
            </p>
            <!-- btn -->
            <a href="/" class="btn btn-dark">しゅわかいへ</a>
          </div>
        </div>
        <!-- img -->
        <div class=" col-xl-6 col-lg-6 col-md-12 text-lg-right text-center pt-6">
          <%= image_tag 'undraw_join_of2w.svg', class: "img-fluid" %>
        </div>
      </div>
    </div>
  </div>
