@import 'bootstrap';
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
}

.nonelink {
  text-decoration: none;
}

.material-icons.md-24 {
  font-size: 36px;
}
